<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>YouTube Downloader</title>
  <meta name="theme-color" content="#7952b3">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="text-center text-white bg-dark">

  <div class="w-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3>YouTube Video Downloader</h3>
      </div>
    </header>

    <form class="" action="/download" method="get">
      <main class="px-3">
        <p class="lead">
          <input class="col-md-5" type="text" name="url" placeholder="https://www.youtube.com/watch?v=MtN1YnoL46Q" required />
        <div class="">
          <input class="btn btn-primary button" type="submit" value="Download" />
        </div>
        </p>
      </main>
    </form>

  </div>
<div class="w-100 flex-column">
  <footer>Developed by Suryansh Jaiswal</footer>
</div>
</body>

</html>





<!-- <%- include('partials/header'); -%>


<%- include('partials/footer'); -%> -->
