<%- include('partials/header'); -%>

<form class="" action="/download" method="get">
  <main class="px-3">
    <p class="lead">
      <input class="col-md-5" type="text" name="url" placeholder="https://www.youtube.com/watch?v=MtN1YnoL46Q" required />
    <div class="">
      <input class="btn btn-primary button" type="submit" value="Download" />
    </div>
    </p>
  </main>
</form>

<%- include('partials/footer'); -%>
